In [1]:
import numpy as np
import re
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv("movie_bd_v5.xls")
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006
44,tt3622592,12000000,85512300,Paper Towns,Nat Wolff|Cara Delevingne|Halston Sage|Justice...,Jake Schreier,Get Lost. Get Found.,Quentin Jacobsen has spent a lifetime loving t...,109,Drama|Mystery|Romance,Fox 2000 Pictures,7/9/2015,6.2,2015
426,tt1017451,10000000,2995811,The Runaways,Dakota Fanning|Kristen Stewart|Michael Shannon...,Floria Sigismondi,It's 1975 and they're about to explode.,"Joan Jett and Cherie Currie, two rebellious te...",106,Drama|Music,River Road Entertainment|Road Rebel|Linson Ent...,3/19/2010,6.3,2010
755,tt1655442,15000000,133432856,The Artist,Jean Dujardin|BÃ©rÃ©nice Bejo|John Goodman|Jam...,Michel Hazanavicius,A Breath Of Fresh Vintage Air,"Hollywood, 1927: As silent movie star George V...",100,Drama|Comedy|Romance,France 3 CinÃ©ma|La Petite Reine|Studio 37|uFi...,5/15/2011,7.2,2011
530,tt0271027,25000000,64437847,Kiss of the Dragon,Jet Li|Bridget Fonda|TchÃ©ky Karyo|Max Ryan|Ri...,Chris Nahon,Kiss Fear Goodbye,"Liu Jian, an elite Chinese police officer, com...",98,Action|Crime|Thriller,Twentieth Century Fox Film Corporation|Current...,7/6/2001,6.3,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
data = pd.read_csv('movie_bd_v5.xls')
answers = {} # создадим словарь для ответов


data['cast_new'] = data.cast.apply(lambda x: x.split('|'))
data['director_new'] = data.director.apply(lambda x: x.split('|'))
data['genres_new'] = data.genres.apply(lambda x: x.split('|'))
#data['production_companies'] = data.production_companies.apply(lambda x: x.split('|'))
# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget'] # Создаем новую колонку: "прибыль"

def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info


def data_df (source_df, key_column):
    movie_dict = {}
    for i in source_df[key_column].index:
        for item in source_df[key_column][i]:
            if item in movie_dict.keys():
                movie_dict[item].append(source_df.imdb_id[i])
            else:
                movie_dict[item] = [source_df.imdb_id[i]]

    result_df = pd.DataFrame(movie_dict.items(), index = movie_dict.keys(), columns = [key_column,'movie_id'])
    result_df.drop([key_column], axis='columns', inplace=True)
    result_df['quantity'] = result_df.movie_id.apply(len)

    return result_df

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
#+

In [6]:
# тут пишем ваш код для решения данного вопроса:
budget_max = data.groupby(['original_title'])['budget'].max().sort_values(ascending=False)
print(budget_max.head(5))

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Pirates of the Caribbean: At World's End       300000000
Avengers: Age of Ultron                        280000000
Tangled                                        260000000
John Carter                                    260000000
Name: budget, dtype: int64

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data[data.budget == max(data.budget)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,cast_new,director_new,genres_new,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],"[Adventure, Action, Fantasy]",641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
#+

In [9]:
runtime_max = data.groupby(['original_title'])['runtime'].max().sort_values(ascending=False)
print(runtime_max.head(5))

original_title
Gods and Generals                                214
The Lord of the Rings: The Return of the King    201
Grindhouse                                       191
King Kong                                        187
Pearl Harbor                                     183
Name: runtime, dtype: int64

In [10]:
data[data.runtime == max(data.runtime)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,cast_new,director_new,genres_new,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],"[Drama, History, War]",-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' 
#+

In [12]:
runtime_min = data.groupby(['original_title'])['runtime'].min().sort_values(ascending=True)
print(runtime_min.head(5))

original_title
Winnie the Pooh         63
Return to Never Land    72
The Jungle Book 2       72
Home on the Range       76
Valiant                 76
Name: runtime, dtype: int64

In [13]:
data[data.runtime == min(data.runtime)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,cast_new,director_new,genres_new,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]","[Animation, Family]",-15540000

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '2. 110'
#+

In [15]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = '1. 107'
#+

In [17]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
answers['6']  = '5. Avatar (tt0499549)'
#+

In [19]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data_profit_max = data.groupby(['original_title'])['profit'].max().sort_values(ascending=False)
print(data_profit_max.head(5))

original_title
Avatar                          2544505847
Star Wars: The Force Awakens    1868178225
Jurassic World                  1363528810
Furious 7                       1316249360
The Avengers                    1299557910
Name: profit, dtype: int64

In [20]:
data[data.profit == max(data.profit)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,cast_new,director_new,genres_new,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]",2544505847

# 7. Какой фильм самый убыточный?

In [21]:
answers['7']  = '5. The Lone Ranger (tt1210819)' 
#+

In [22]:
data_profit_min = data.groupby(['original_title'])['profit'].min().sort_values(ascending=True)
print(data_profit_min.head(5))

original_title
The Lone Ranger                -165710090
The Alamo                      -119180039
Mars Needs Moms                -111007242
The Adventures of Pluto Nash    -92896027
Flushed Away                    -84540684
Name: profit, dtype: int64

In [23]:
data[data.profit == min(data.profit)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,cast_new,director_new,genres_new,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],"[Action, Adventure, Western]",-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
answers['8']  = '1. 1478 '
#+

In [25]:
profit_plus = data[(data.profit > 0)]
len(profit_plus)

1478

In [26]:
len(data[data.profit > 0]['profit'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [27]:
answers['9']  = '4. The Dark Knight (tt0468569)' 
#+

In [28]:
data[(data.release_year==2008)][['imdb_id', 'revenue', 'original_title',]].sort_values('revenue', ascending = False). head(1)

       imdb_id     revenue   original_title
599  tt0468569  1001921825  The Dark Knight

In [29]:
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.profit == max(data_2008.profit)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,cast_new,director_new,genres_new,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],"[Drama, Action, Crime, Thriller]",816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [30]:
answers['10']  = '5. The Lone Ranger (tt1210819)' 
#+

In [31]:
data[data.profit == data.query('2012 <= release_year <= 2014').profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,cast_new,director_new,genres_new,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],"[Action, Adventure, Western]",-165710090

In [32]:
data_2012_2014 = data[data.release_year.between(2012, 2014)]
data_2012_2014[data_2012_2014.profit == min(data_2012_2014.profit)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,cast_new,director_new,genres_new,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],"[Action, Adventure, Western]",-165710090

# 11. Какого жанра фильмов больше всего?

In [33]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [34]:
answers['11']  = '3. Drama' 
#+

In [35]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts().head()

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [36]:
answers['11']  = '1. Drama' 
#+

In [37]:
data_profit=data[data.profit>0]
genres=data_profit.genres.str.split('|',expand=True).stack().value_counts()
print(genres.head())

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [38]:
answers['13']  = '5. Peter Jackson' 
#+

In [39]:
data.groupby(['director']).sum().sort_values('revenue', ascending = False).head()

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685
Christopher Nolan,1005000000,4167548502,1135,61.1,16057,3162548502
David Yates,775000000,4154295625,567,29.6,8037,3379295625
Michael Bay,1126000000,3886938960,1209,50.0,16063,2760938960
J.J. Abrams,740000000,3579169916,633,35.1,10054,2839169916

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [40]:
answers['14']  = '3. Robert Rodriguez' 
#+

In [41]:
sum_genres = counter(data[data['genres'].map(lambda x: True if 'Action' in x else False)],'director')
print(sum_genres.head())

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [42]:
answers['15']  = '3. Chris Hemsworth' 
#+

In [43]:
data_2012 = data[data.release_year == 2012][['cast', 'revenue']]
data_2012.cast = data_2012.cast.apply(lambda s: s.split('|'))
data_2012_exploded = data_2012.explode('cast')
data_2012_exploded.groupby(by = 'cast').revenue.sum().sort_values(ascending = False).head()

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [44]:
answers['16']  = '3. Matt Damon' 
#+
#подсказали как решать

In [45]:
high_budget = data[data['budget'] >= data['budget'].mean()]
cast_df = data_df(high_budget, 'cast_new')
cast_df.sort_values('quantity',ascending = False).head()

                                                            movie_id  quantity
Matt Damon         [tt3659388, tt2177771, tt1057500, tt0947810, t...        18
Adam Sandler       [tt2120120, tt2510894, tt1201167, tt1375670, t...        17
Angelina Jolie     [tt1587310, tt0944835, tt1243957, tt0146316, t...        16
Samuel L. Jackson  [tt2802144, tt1843866, tt1386588, tt0489099, t...        15
Eddie Murphy       [tt0892791, tt0126029, tt0240462, tt0765476, t...        15

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [46]:
answers['17']  = '2. Action' 
#+

In [47]:
sum_genres = counter(data[data['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)],'genres')
print(sum_genres.head(1))

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [48]:
answers['18']  = '1. K-19: The Widowmaker (tt0267626)' 
#+

In [49]:
data_new = data[data.production_companies.str.contains('Paramount Pictures')]
data_new.sort_values('profit', ascending = True)[['imdb_id', 'original_title']].head(1)

       imdb_id        original_title
925  tt0267626  K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [50]:
answers['19']  = '5. 2015' 
#+

In [51]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [52]:
answers['20']  = '1. 2014'
#+

In [53]:
data_tmp = data[data['production_companies'].map(lambda x: True if 'Warner Bros' in x else False)]
data_df = data_tmp.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).head()
print(data_df)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [54]:
#не смог решить

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [55]:
answers['22']  = '2. 450 '
#+

In [56]:
Pattern = re.compile('[678]')
len(data[data.release_date.str.match(Pattern, na=False)])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [57]:
#не смог решить

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [58]:
answers['24']  = '5. Four By Two Productions' #+

In [59]:
data['original_title_length'] = data.original_title.map(lambda x: len(x))
sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['original_title_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
print(sum_gen)

                             0
Four By Two Productions     83
Jim Henson Company, The     59
Dos Corazones               47
Polsky Films                46
Museum Canada Productions   46
...                         ..
Berlanti Productions         3
Everest Entertainment        3
Ixtlan Productions           2
Global Entertainment Group   2
XM2 Productions              2

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [60]:
answers['25']  = '3. Midnight Picture Show' #+

In [61]:
data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' ')))
sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['overview_words_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
print(sum_gen)

                                                  0
Midnight Picture Show                           175
Heineken Branded Entertainment                  161
Room 9 Entertainment                            161
98 MPH Productions                              159
Brookwell-McNamara Entertainment                156
...                                             ...
Projection Pictures                              13
TDJ Enterprises / New Dimensions Entertainment   13
Our Stories Films                                13
Empire Pictures                                  11
Motion Picture Corporation of America            11

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [62]:
#не смог решить

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [63]:
answers['27']  = '5. Daniel Radcliffe & Rupert Grint'
#+

In [64]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Emma Watson        8
Daniel Radcliffe Rupert Grint       8
Rupert Grint Emma Watson            7
Johnny Depp Helena Bonham Carter    6
Ben Stiller Owen Wilson             6
Kristen Stewart Taylor Lautner      5
Robert Pattinson Taylor Lautner     5
Hugh Jackman Ian McKellen           5
Kristen Stewart Robert Pattinson    5
Adam Sandler Kevin James            5
Name: actor_combinations, dtype: int64

ВАРИАНТ 2

# Submission

In [65]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478 ',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '22': '2. 450 ',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [66]:
# и убедиться что ни чего не пропустил)
len(answers)

23